<%- include('../partials/header') %>

<form action="/skills" method="POST">
 
    <input type="text" name="skill">
    <button type="submit">ADD SKILL</button>
  </form>

<%- include('../partials/footer') %>